  <center>
    <div class='card'>
      <div class='header'>
        <h1><a href='/' style='text-decoration:none;border:0'>Loren Lisk</a><a href='https://www.linkedin.com/in/liskl'><img src='https://www.liskl.com/assets/img/linkedin-logo.png'
              style='float:right;text-decoration:none;border:0;margin-left:5px;' /></a><a href='https://github.com/liskl'><img src='https://www.liskl.com/assets/img/github-logo.png'
              style='float:right;text-decoration:none;border:0;margin-left:5px;' /></a></h1>
        <p>Operational Engineer, DevOps, Coder &amp; Passionate Technologist.</p>
      </div>

      <h2>Email</h2>

      <p>if you wanna send me a little note you can do so here, otherwise email me at: <strong>loren.lisk@liskl.com</strong>. </br></br><strong>NOTE:</strong> you want me to reply please make your your Reply Email is Valid.</p>
      </br>
      </br>
      <form action="https://7cdg9ndd80.execute-api.us-east-2.amazonaws.com/dev" method="POST" role="form" class="form-horizontal">
        <div class="form-group">
          <label for="fromEmail" class="col-sm-2 control-label">Reply-Email</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="fromEmail" name="fromEmail" value='anonymous@noemail.privacy'>
          </div>
          </br>
          <label for="message" class="col-sm-2 control-label">message:</label>
          <div class="col-sm-10">
            <textarea class="form-control rounded-0" id="message" rows="10" name="message"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-outline-primary">Send</button>
          </div>
        </div>
      </form>
      <div id="FAFOC">
        <div class="footerquote">
          <p>"If I had more time, I would have made this shorter."</p><a href="/">Top Of Page</a>
        </div>
      </div>
    </div>
  </center>
