  <center>
    <div class='card'>
      <div class='header'>
        <h1><a href='/' style='text-decoration:none;border:0'>Liskl Networks Datacenter</a></h1>
        <p>A Image Gallery of the Homelab Built for Learning Idependence</p>
      </div>

      <h2>Under Construction</h2>

      <div id="FAFOC">
        <div class="footerquote">
          <p>"If I had more time, I would have made this shorter."</p><a href="/">Top Of Page</a>
        </div>
      </div>
    </div>
  </center>
