  <center>
    <div class='card'>
      <div class='header'>
        <h1><a href='/' style='text-decoration:none;border:0'>Loren Lisk</a><a href='https://www.linkedin.com/in/liskl'><img src='https://www.liskl.com/assets/img/linkedin-logo.png'
              style='float:right;text-decoration:none;border:0;margin-left:5px;' /></a><a href='https://github.com/liskl'><img src='https://www.liskl.com/assets/img/github-logo.png'
              style='float:right;text-decoration:none;border:0;margin-left:5px;' /></a></h1>
        <p>A Choice for Compute Independence</p>
      </div>

      <h2>Home-labbing</h2>
      <p>Under Construction...</p>

      <div id="FAFOC">
        <div class="footerquote">
          <p>"If I had more time, I would have made this shorter."</p><a href="/">Top Of Page</a>
        </div>
      </div>
    </div>
  </center>
